.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat",sans-serif;
}

.loader{
  position: center;
  background: rgb(53, 210, 245);
  height: 20%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}


.loader{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;
}

.loader::before,.loader::after{
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}

.loader::after{
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loader span{
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

.loader:before {
  animation-delay: .5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}
